body {
    cursor: default;
    height: 100vh;
    margin: 0;
}

body {
    background-color: white;
    color: black;
}

* {
    font-family: "Segoe UI", sans-serif;
    font-size: 11pt;
}

.gray {
    color: gray;
}

.task-list-activities {
    border-spacing: 0;
    grid-template-columns: auto auto auto auto auto;
    margin-top: -22px;
    max-height: 100vh;
}

.task-list-activities > tr > td {
    padding: 0;
    padding-top: 5px;
    vertical-align: top;
}

.task-list-activities > tr > td:first-child {
    padding-left: 5px;
}

.task-list-activities > tr > td:last-child {
    padding-right: 5px;
}

.dash-item {
    background-color: white;
    border: 2px solid rgb(230, 230, 230);
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 450px;
    min-width: 200px;
}

.selected-dash-item {
    border: 2px solid gray;
}

.dash-item .header {
    background-color: rgb(101, 101, 101);
    /*border-top-left-radius: 7px;
    border-top-right-radius: 7px;*/
    color: white;
    padding: 2px;
}

.dash-item .header input:first-child {
    background-color: rgb(101, 101, 101);
    border: none;
    color: white;
    cursor: default;
    margin: 1px;
    margin-left: 2px;
    width: calc(100% - 27px);
}

.button {
}

.dash-item .body {
    border: 1px solid rgb(226, 226, 226);
}

.task-list {
    width: 100%;
}

.lined-list {
    border-collapse: collapse;
    list-style: none;
}

.lined-list tr td:first-child {
    width: 20px;
}

.lined-list tr {
    border-top: 1px solid rgb(230, 230, 230);
}

.lined-list tr:hover {
    background-color: rgb(240, 240, 240);
}

.completed-task {
    color: rgb(165, 165, 165);
}

.new-task-input {
    border: none;
    padding-left: 21px;
    width: calc(100% - 22px);
}

.task-text-edit-box {
    border: none;
    margin-top: -50px;
    position: relative;
    resize: none;
    visibility: hidden;
}

.label-list {
    max-height: 100vh;
    min-width: 110px;
    overflow-y: auto;
    padding: 0;
    width: 200px;
}

.label-list-inner {
    padding: 5px;
}

.label {
    border-radius: 7px;
    color: white;
    float: left;
    margin: 3px;
    overflow: hidden;
    padding: 1px 7px 3px 7px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.label:hover {
}

.new-label-input {
    background-color: rgb(228, 228, 228);
    border-color: gray;
    border-style: solid;
    border-width: 0;
    color: black;
    width: 80px;
}

.label-tag-container /*.task-list td:nth-child(3) */ {
    overflow-x: auto;
    white-space: nowrap;
}

.label-tag {
    border-radius: 5px;
    height: 1em;
    margin: 1px;
    margin-left: 2px;
    padding: 0 4px 0 4px;
    width: 1px;
}

.searched-label {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.user-select-none {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;
    user-select: none;
}

.smaller-font {
    font-size: smaller;
}

.selected-task {
    background-color: rgb(214, 214, 214);
}

.selected-task .lined-list td:hover {
    border-top: 1px solid rgb(187, 43, 43);
}

.assign-label-activity .smaller-font {
    clear: both;
    color: gray;
}

.edit-label {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(139, 139, 139);
    padding: 5px;
    position: relative;
    z-index: 20;
}

.edit-label input {
    border: none;
    margin: 5px;
    padding: 2px;
}

.edit-label button {
    margin: 5px;
    padding: 2px 7px;
}

.task-list-activities-footer {
    background-color: rgb(240, 240, 240);
    color: rgb(188, 188, 188);
    float: left;
    margin: 5px;
    padding: 10px 20px;
    width: 240px;
}

.task-list-searches {
}

#bodyTable tr {
    vertical-align: top;
}

#bodyTable td {
    padding: 0;
}

.view-area {
    background-color: rgb(230, 230, 230);
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 66px;
}

.toolbar {
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: 3px;
    overflow-x: hidden;
    padding-left: 0px;
    padding-top: 0px;
    position: absolute;
    top: 34px;
    width: calc(100vw - 0px);
}

.toolbar .menu-button,
.toolbar input {
    margin: 0px 0px;
    padding: 4px 8px;
    padding-bottom: 6px;
}

.toolbar .menu-button {
    background-color: rgb(230, 230, 230);
    border: none;
    color: #454545;
    display: inline-block;
}

.toolbar .menu-button:hover {
    background-color: rgb(209, 209, 209);
    border: none;
    color: #454545;
}

.toolbar .main-search-input {
    border: none;
    padding: 2px 5px;
    padding-bottom: 4px;
}

.toolbar .view-filter {
    background-color: rgb(200, 200, 200);
    border: none;
    color: #454545;
    padding: 2px 5px;
    padding-bottom: 4px;
}

ul.menu {
    margin: 0;
    padding-left: 0px;
}

.menu li {
    list-style: none;
    padding: 3px 7px;
}

.menu li:hover {
    background-color: lightgray;
}

.columns-menu {
}

.columns-menu fieldset {
    border: none;
    display: inline;
    padding: 0;
}

.drop-down-triangle {
    color: rgb(163, 163, 163);
    font-size: x-small;
    margin-left: -1px;
}

.burger-button {
    background-color: transparent;
    padding: 0px 5px;
    padding-bottom: 2px;
    position: relative;
    top: -1px;
}

.burger-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.drop-down-burger {
    color: rgba(255, 255, 255, 0.5);
}


.add-menu {
}

.more-menu {
}


.tab-bar {
    height: 25px;
    margin-top: 10px;
    position: absolute;
    width: 100vw;
}

.tab {
    background-color: rgb(230, 230, 230);
    margin-right: 10px;
    padding: 3px 11px;
    padding-bottom: 5px;
}

.active-tab {
    background-color: gray;
    color: white;
}

.logo {
    float: left;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -4px;
    width: 24px;
}

.tab-plus {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    color: gray;
    font-weight: bold;
    margin: -3px;
    padding: 0 5px;
}

.tab-plus:hover {
    background-color: lightgray;
}

.tab-plus span {
    position: relative;
    top: -1.5px;
}

.close {
    color: darkgray;
    font-size: smaller;
    margin-left: 3px;
    margin-right: -7px;
    padding: 0 3px;
}

.close:hover {
    background-color: lightgray;
    color: darkgray;
}

.active-tab .close {
    color: lightgray;
}

.active-tab .close:hover {
    background-color: rgb(108, 108, 108);
    color: darkgray;
}

.labels-popup-view {
    max-width: 300px;
    min-width: 200px;
}

.labels-popup-view input[type=search] {
    width: 100%;
}

.window {
    background-color: white;
    border: 1px solid rgb(156, 156, 156);
    padding: 0px;
    position: absolute;
    z-index: 10;
    box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.3);
}

.note-list {
    padding: 0px 3px;
}

.note {
    background-color: white;
    border: 1px solid gray;
    margin: 4px 0;
    padding: 2px 4px;
}

.note:hover {
    background-color: rgb(235, 235, 235);
}

.note-dash textarea {
    max-width: 444px;
    min-width: 206px;
    border: none;
    margin: 0;
    padding: 0px 3px;
}


.dash-columns-input {
    display: inline-block;
    text-align: center;
    width: 30px;
}

.show-hide-filtered-out {
    text-align: center;
    background-color: rgb(216, 216, 216);
    color: gray;
    font-size: smaller;
    padding: 0;
}
