body {
    background-color: white;
    color: black;
    cursor: default;
    height: 100vh;
    margin: 0;
}

body,
table,
input {
    font-family: "Segoe UI", sans-serif;
    font-size: 11pt;
}

#bodyTable {
    border-collapse: collapse;
    height: 100%;
    vertical-align: top;
    width: 100%;
}

#bodyTable tr {
    vertical-align: top;
}

#bodyTable td {
    padding: 0;
}

.vertical-resizer {
    background-color: rgb(235, 235, 235);
    cursor: e-resize;
    width: 5px;
}

.vertical-resizer:hover {
    background-color: lightgray;
}

#task-list-activities {
    max-height: 100vh;
    overflow-y: auto;
}

.task-list-activity {
    border: 2px solid white;
    float: left;
    margin: 5px;
    max-width: 300px;
    min-width: 150px;
}

.selected-task-list-activity {
    border: 2px solid gray;
}

.task-list-activity .header {
    background-color: rgb(101, 101, 101);
    /*border-top-left-radius: 7px;
    border-top-right-radius: 7px;*/
    color: white;
    padding: 4px;
}

.task-list-activity .header input:first-child {
    background-color: rgb(101, 101, 101);
    border: none;
    color: white;
}

.task-list-activity .header input[type=button] {
    background-color: rgb(190, 190, 190);
    border: none;
    color: black;
    margin-left: 3px;
}

.task-list-activity .header input:nth-child(3) {
    /*border-top-right-radius: 6px;*/
}

.task-list-activity .body {
    border: 1px solid rgb(226, 226, 226);
    /*background-color: whitesmoke;*/
}

.task-list-activity .body input {
    /*background-color: whitesmoke;*/
}

.task-list {
    width: 100%;
}

.lined-list {
    border-collapse: collapse;
    list-style: none;
}

.lined-list tr td:first-child {
    width: 20px;
}

.lined-list tr {
    border-top: 1px solid rgb(230, 230, 230);
}

.lined-list tr:hover {
    background-color: rgb(240, 240, 240);
}

.completed-task {
    color: rgb(165, 165, 165);
}

.new-task-input {
    border: none;
    padding-left: 21px;
    width: calc(100% - 22px);
}

.task-text-edit-box {
    border: none;
    display: none;
    margin-top: -30px;
    position: relative;
}

.label-list {
    float: left;
    max-height: 100vh;
    min-width: 110px;
    overflow-y: auto;
    padding: 0;
    width: 250px;
}

#label-list-inner {
    padding: 5px;
}

.label {
    border-radius: 7px;
    color: white;
    float: left;
    margin: 3px;
    overflow: hidden;
    padding: 1px 7px 3px 7px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.label:hover {
    border-top-left-radius: 0;
}

.new-label-input {
    background-color: rgb(228, 228, 228);
    border-color: gray;
    border-style: solid;
    border-width: 0;
    color: black;
    width: 80px;
}

.label-tag {
    border-radius: 5px;
    float: left;
    height: 1em;
    margin: 1px;
    margin-left: 3px;
    padding: 0 3px 4px 4px;
}

.searched-label {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.user-select-none {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;
    user-select: none;
}

#assign-label-activity {
}

#assign-label-activity tr:first-child {
}

#associated-labels,
#available-labels {
}

.smaller-font {
    font-size: smaller;
}

.selected-task {
    background-color: rgb(214, 214, 214);
}

.selected-task .lined-list td:hover {
    border-top: 1px solid rgb(187, 43, 43);
}

#assign-label-activity .smaller-font {
    clear: both;
    color: gray;
}